<%= link_to "Story Book Index Page", story_books_path %> <br>
<br><br>

<h1>Welcome!</h1>
<p>Hi <%= @logged_in_user.name %>! Welcome to Story Book :)</p>
<h2> Here is your list of stories: </h2>

<ul>
  <% @logged_in_user.story_books.each do |story_book| %>
    <li> <%= link_to story_book.story.title, story_book%></li>
    <br><br>
  <% end %>
</ul>

<%= link_to "Create a new Story!", new_character_path %>

<ul>
<% @logged_in_user.story_books.each do |story_book| %>
  <li>
    <%= story_book.user.username %> story book for this story #<%= story_book.story.title %>
    <% if @logged_in_user_id == story_book.user_id %>
    <%= button_to "delete story_book", story_book_path(story_book), method: :delete %>
    <% end %>
  </li>
<% end %>
</ul>
