Hello, <%= @logged_in_user.username.titleize %>! <br>
<%= button_to "Log out", log_out_path, method: :delete %>
<br>
<hr>
<br>
<h1>Ready for an adventure?</h1>
<br>

<% if @logged_in_user.story_books.first == nil %>
<p>You haven't created any story yet. Time to change that!</p>
<% else %>
<h2> Here is the list of your stories: </h2>

<ul>
  <% @logged_in_user.story_books.each do |story_book| %>
    <li>
      <%= link_to story_book.tag.titleize, story_book%> featuring <%=story_book.character.name.titleize %>, a <%=story_book.character.adjective %> <%=story_book.character.gender.name %> who <%=story_book.character.character_description_one %>
      <%= button_to "Edit the character", edit_character_path(story_book.character_id), :method => :get %>
      <%= button_to "Delete this story", story_book_path(story_book), method: :delete, :data => {:confirm => 'Are you sure you want to delete this story?'} %>
    </li>
    <br>
  <% end %>
</ul>
<% end %>

<%= link_to "Create a new story!", new_character_path %>

<h2>Check out stories by others:</h2>
<ul>
<% StoryBook.all.each do |story_book|%>
<li> <%= link_to story_book.tag.titleize, story_book%>, a story about <%=story_book.story.issue.upcase %></li><br>
<% end %>
</ul>
