<h1>First, let's create a new character:</h1>

<% if @errors && @errors.any? %>
<ul class="errors">
  <% @errors.each do |error| %>
  <li>
    <%= error %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for @character do |f| %>

<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :gender_id %>
<%= f.collection_select :gender_id, Gender.order(:name).all, :id, :name, :prompt => '~please select~' %><br>

<%= f.label :pronoun_one_id %>
<%= f.collection_select :pronoun_one_id, PronounOne.order(:name).all, :id, :name, :prompt => '~please select~' %><br>

<%= f.label :pronoun_two_id %>
<%= f.collection_select :pronoun_two_id, PronounTwo.order(:name).all, :id, :name, :prompt => '~please select~' %><br>

<%= f.label :pronoun_three_id %>
<%= f.collection_select :pronoun_three_id, PronounThree.order(:name).all, :id, :name, :prompt => '~please select~' %><br>

<%= f.label :pronoun_four_id %>
<%= f.collection_select :pronoun_four_id, PronounFour.order(:name).all,:id, :name, :prompt => '~please select~' %><br>

<%= f.label :race_id %>
<%= f.collection_select :race_id, Race.order(:name).all,:id, :name, :prompt => '~please select~' %><br>

<%= f.label :ethnicity_id %>
<%= f.collection_select :ethnicity_id, Ethnicity.order(:name).all, :id, :name, :prompt => '~please select~' %><br>

<%= f.label :adjective %>
<%= f.select :adjective, Character::ADJECTIVES, :prompt => '~please select~' %><br>

<%= f.label :character_description_one %>
<%= f.select :character_description_one, Character::CHARACTER_DESCRIPTION_ONE, :prompt => '~please select~' %><br>

<%= f.label :character_description_two %>
<%= f.select :character_description_two, Character::CHARACTER_DESCRIPTION_TWO, :prompt => '~please select~' %><br><br>

<%= f.submit 'My character is ready!'%><br>

<% end %>
