<!DOCTYPE html>
<html>
  <head>
    <title> ✨ Fierce Stories ✨ Changing the world one story at a time  ✨ </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/d/d6/Official_Logo_OneLove.png">

    <% if cookies[:moon] %>
    <%= stylesheet_link_tag 'application_dark', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <%= render 'layouts/header' %>
      <% if @notification %>
        <p class="message">
          <%= @notification %>
        </p>
      <% end %>

    </header>
    <%= yield %>

  </body>
</html>
